mat-horizontal-stepper
{
  padding-top: 25px;
}

.content
{
  padding-top: 50px;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

mat-form-field
{
  width: 450px;
}
