<mat-toolbar color="primary">
  <mat-toolbar-row class="navbar">
    <span>UrbanSisters</span>
    <button mat-button routerLink="/">Accueil</button>
    <button *ngIf="authService.isRelookeuse()" mat-button routerLink="/profil">Mon Profil</button>
    <button *ngIf="authService.isRelookeuse()" mat-button routerLink="/appointments">Mes rendez-vous</button>
    <button *ngIf="authService.isAdmin()" mat-button [matMenuTriggerFor]="adminMenu">Administration</button>
    <mat-menu #adminMenu="matMenu" yPosition="below">
      <button mat-menu-item routerLink="/users">Liste des utilisateurs</button>
      <button mat-menu-item routerLink="/stats">Statistiques</button>
    </mat-menu>
    <button mat-button (click)="authService.logout();">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
