<h1>Editer vos horaires</h1>
<mat-list>
  <mat-list-item *ngFor="let availability of availabilities">
    <app-availability [availability] = "availability" (removeAvailability)="delete($event)"></app-availability>
  </mat-list-item>
</mat-list>
<p *ngIf="availabilities.length === 0">Vous n'avez pas d'horaires</p>
<form [formGroup]="newAvailabilityGroup">
  <mat-form-field style="padding-top: 10px">
    <mat-label>Jour de la semaine</mat-label>
    <mat-select formControlName="dayOfWeek">
      <mat-option *ngFor="let day of dayOfWeer" [value]="day.dayNum">
        {{day.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="margin-left: 40px">
    <input matInput placeholder="Heure du début" type="text" formControlName="startTime" pattern="[0-2][0-9]:[0-5][0-9]"/>
  </mat-form-field>
  <mat-form-field style="margin-left: 40px">
    <input matInput placeholder="Heure de fin" type="text" formControlName="endTime" pattern="[0-2][0-9]:[0-5][0-9]"/>
  </mat-form-field>
  <div>
    <button mat-button (click)="add()" [disabled]="!newAvailabilityGroup.valid">Ajouter</button>
  </div>
</form>
